/*container for my images and texts*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*makes text width 50%*/
.text {
    width: 50%;
    padding: 20px;
}
/*image takes up other 50%*/
.image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*makes the image take up 100% of its space*/
img {
    max-width: 100%;
    height: auto;
}
/*text is centered*/
h1{
    text-align: center;
}
/*indents the paragtaph and adds the margins*/
main p {
    text-indent: 2em;
    margin-bottom: 20px;
    font-size: 18px;
}
/*gets rid of the small container*/
.container-small{
    display: none;
}
/*When screen is smaller than 800px change the tempalte layout*/
@media screen and (max-width: 800px) {
    .container{
        display: none;
    }
    .container-small{
        display: inline-block;
        padding: 0px 20px;
    }

}

