/*setting up*/
main{
    display: flex;
    align-items: center; /* centers content vertically */
    justify-content: center; /* centers content horizontally */
    text-align: center;
}
main h1 {
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 20px;
}
main h2{
    font-size: 46px;
    margin-bottom: 5px;
}
main h3{
    font-size: 24px;
    margin-bottom: 20px;

}
main p {
    font-size: 35px;
    margin-bottom: 25px;

}
/*setting the margins and width*/
#text-container{
    max-width: 80%; /* set a max-width for the content */
    margin: 0 auto; /* center the text horizontally */
}
