/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@700&display=swap');


/*Setting up*/
:root{
    --main-bg-color: #424244;
}


*{
    padding: 0;
    margin: 0;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
}
/*Removing decoration on all a tags*/
a{
    text-decoration: none;
    color: white;
}
/*Sets the default font for different things*/
h1, h2, h3{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-weight: 700;
}
h2{
    font-weight: 300;
}
h3{
    font-weight: 250;
}
p{
    font-size: 25px;
}

/* Creating a grid for the nav bar and main */
.grid-container{
    padding-top: 7%;
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}


/*css for the side menu*/
menu{
    height: 600px;
    padding: 0px;
    margin: 0 10px;
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}


/*styling for the menu items*/
menu h1{
    font-size: 35px;
}
/*Styling the computer science student tag*/
menu h2{
    font-size: 15px;
}


menu .menu-item a{
    font-size: 20px;
}
/*makes the slected a tag underlined*/
menu a.selected {
    text-decoration: underline;
}

/*Setting up the grid for the menu items*/
.menu-item-container{
    margin-top: 50px;
    height: 60%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}


/*Setting grid for the img links*/
.link-container{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
}
/*spanning the mail image from grid number 2 to 2*/
#mail-image{
    grid-column: 2 / 2;
}
/*spanning linkedin image from grid column 4 to 4 to leave space between and outside*/
#linkedin-image{
    grid-column: 4 / 4;
}


/*styling for the main*/
main{
    padding: 0px;
    margin: 0px;
    color: white;
}
/*Hides the experience tag only needed for smaller screen*/
#experience{
    display: none;
}
/*When the screen reaches a small width of 800 pixels change the nav bar to up top and ajust the sizes*/
@media screen and (max-width: 800px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    /* Creating a grid for the nav bar and main */
    .grid-container{
        padding: 0;
        display: grid;
        grid-template: 50px 1fr / 1fr;
    }
    /*Adjusts the menu to have 6 sections */
    menu{
        margin: 0px;
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: repeat(6, 1fr);
    }
    /*Setting up the h1 and h2 tag*/
    #name-container h1{
        font-size: 20px;
    }
    #name-container h2{
        display: none;
    }
    /*spands the name from grid 1-1*/
    #name-container{
        grid-column: 1 / 1;
    }
    /*Sets the grid to start at 2 and go till 6, also itself is a grid for the a tags*/
    .menu-item-container{
        grid-column: 2/6;
        display: grid;
        grid-template-columns:repeat(5,1fr) ;
        margin: 0;
        font-size: 5px;
        padding: 11px 0px;
    }
    /*adjusts the font sizes*/
    menu .menu-item a{
        font-size: 15px;
    }
    /*Spans the link container at the end of the 6 column grid*/
    .link-container{
        grid-column: 6 /6;
        padding: 5px 0px;
    }
    #work-experience{
        display: none;
    }
    #experience{
        display: inline;
    }
}
/* If screen gets small enough reduce font sizes and grid gaps */
@media screen and (max-width: 450px) {
    menu{
        grid-column-gap: 2px;
    }
    #name-container h1{
        padding-top: 8px;
        font-size: 15px;
    }
    .menu-item-container{
        padding-top: 8px;
    }
    menu .menu-item a{
        font-size: 12px;
    }
    menu .link-container{
        padding-top: 10px;
    }
    menu .link-container img{
        width: 30px;
    }


}
/*If screen is really small the menu becomes two rows of 3 columns*/
@media screen and (max-width: 330px) {
    .menu-item-container{
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
    }
}

